.admin_viajes {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
}


.admin_viajes .viaje_admin {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2%;
    margin: 2%;
    max-width: 40%;
}

.admin_viajes .viaje_admin h1 {
    color: #2CCBCB;
    text-transform: uppercase;
    text-align: center;
}


.admin_viajes .viaje_admin .seccion_viaje {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4%;
}

.admin_viajes .viaje_admin img {
    margin: auto;
    width: 270px;
    height: 160px;
}

.admin_viajes .viaje_admin .forms {
    text-align: center;
    margin: auto;
}

.admin_viajes .viaje_admin .forms input {
    font-weight: bold;
}


.admin_viajes .viaje_admin .forms form input {
    background-color: rgb(228, 95, 95);
    border-color: rgb(228, 95, 95);
}

.admin_viajes .viaje_admin .forms input:hover {
    font-size: medium;
    text-decoration: underline;
}


.admin_viajes .viaje_admin .contenido {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;    
    justify-content: center;
    align-content: center;
    margin-bottom: 2%;
}
.admin_viajes .viaje_admin .contenido span:first-child {
    margin-bottom: 3%;
} 



@media screen and (min-width: 5100px) {
    .admin_viajes .viaje_admin img {
        width: 900px;
        height: 500px;
    }
}

    
@media screen and (min-width: 3000px) and (max-width: 5099px) {
    .admin_viajes .viaje_admin img {
        width: 500px;
        height: 280px;
    }
}

    
@media screen and (min-width: 1900px) and (max-width: 2999px) {
    .admin_viajes .viaje_admin img {
        width: 320px;
        height: 200px;
    }
}
