.forms_imagen, .borrar {
    display: flex;
    margin: auto;
    gap: 10%;
    justify-content: center;
}

.forms_imagen form input {
    font-weight: bold;
}

/* aceptar */
.forms_imagen form:first-child input {
    background-color: rgb(106, 213, 106);
    border-color: rgb(106, 213, 106);
}

/* descartar */
.forms_imagen form:last-child input {
    background-color: rgb(228, 95, 95);
    border-color: rgb(228, 95, 95);
}


.forms_imagen form input:hover {
    font-size: medium;
    text-decoration: underline;
}


.imagen .borrar  input {
    font-weight: bold;
    background-color: rgb(228, 95, 95);
    border-color: rgb(228, 95, 95);
}

.imagen .borrar  input:hover {
    font-size: medium;
    text-decoration: underline;
}


@media screen  and (max-width: 600px) {
    input[type="file"] {
        font-size: 12px;
    }
}

@media screen  and (max-width: 370px) {
    input[type="file"] {
        font-size: 10px;
    }
}
