body {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    text-align: justify;
    margin: 0%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Headland One', serif;
}


main {
    position: relative;
    padding: 3% 3% 4% 3%;
    min-height: 40vh;
}

main::after {
    content: "";
    background-image: url(../media/images/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

hr {
    border: 2px solid white;
}


.restablecer {
    text-decoration: none;
    color: black;
    padding: 0.5% 2% 0.5% 2%;
    background-color: #2CCBCB;
    font-size: 14px;
    font-weight: bold;
}

.restablecer:hover {
    text-decoration: underline;
    font-size: 16px;
    font-weight: bolder;
}


#flecha {
    position: fixed;
    z-index: 1;
    left: auto;
    right: 1%;
    bottom: 2%;
    width: 45px;
	cursor: pointer;
    background-color: black;
    border-radius: 100%;
}

#flecha:hover {
    width: 50px;
}



@media screen and (min-width: 5100px) {
    body {
        font-size: 55px;
    }
    input, .restablecer {
        font-size: 50px !important;
    }
    select {
        font-size: 45px;
    }
    

    .boton_resaltar:hover {
        font-size: 58px !important;
    }


    #flecha {
        width: 140px;
    }
    #flecha:hover {
        width: 160px;
    }
}

@media screen and (min-width: 3000px) and (max-width: 5099px) {
    body {
        font-size: 33px;
    }
    input, .restablecer {
        font-size: 28px !important;
    }
    select {
        font-size: 25px;
    }

    
    .boton_resaltar:hover {
        font-size: 31px !important;
    }
    

    #flecha {
        width: 95px;
    }
    #flecha:hover {
        width: 107px;
    }        
}

@media screen and (min-width: 1900px) and (max-width: 2999px) {
    body {
        font-size: 21px;
    }
    input, .restablecer {
        font-size: 19px !important;
    }
    select {
        font-size: 17px;
    }

    
    .boton_resaltar:hover {
        font-size: 22px !important;
    }


    #flecha {
        width: 55px;
    }
    #flecha:hover {
        width: 62px;
    }
}

@media screen and (min-width: 1901px) {
    main {
        min-height: 60vh;
    }
}

@media screen and (max-width: 1900px) {
    main {
        min-height: 50vh;
    }
}
