main {
    position: relative;
    padding: 4% 3% 4% 3%;
}

main::after {
    content: "";
    background-image: url(../media/images/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}


#flecha {
    position: fixed;
    z-index: 1;
    left: auto;
    right: 1%;
    bottom: 2%;
    width: 45px;
	cursor: pointer;
    background-color: black;
    border-radius: 100%;
}

#flecha:hover {
    width: 50px;
}
