.comentario {
    position: relative;
    color: white;
    padding: 0.1% 1% 1% 1%;
    width: 90%;
    margin: auto;
    margin-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.8);
}


.comentario h5 {
    color: #2CCBCB;
}

.comentario .contenido {
    text-align: justify;
}

.comentario form {
    display: flex;
    justify-content: center;
}

.comentario .ver_viaje {
    background-color: #2CCBCB;
    border-color: #2CCBCB;
    font-weight: bold;
}

.comentario .ver_viaje:hover {
    padding: 0.5%;
    font-size: small;
    text-decoration: underline;
}

@media screen  and (max-width: 600px) {
    .comentario {
        padding: 0.1% 5% 5% 5%;
        width: 90% !important;
    }

}
