footer {
    position: absolute;
    background-color: #000000;
    height: max-content;
    width: 100%;
    left: 0;
    text-align: center;
    color: white;
}


footer #logo {
    margin-top: 1.5%;
    width: 190px;
} 

footer p {
    margin-bottom: 2%;
}
