body {
    text-align: justify;
    margin: 0%;
}

header {
    position: fixed;
    width: 100%;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    display: flex;
    top: 0;
    align-items: center;
    z-index: 3;

}

header #logo, header #logo_desp {
    width: 90px;
}

.menu {
    position: absolute;
    width: 100%;
}

.menu ul {
    display: flex;
    padding-left: 0%;
    justify-content: center;
}

.menu ul li, .lista_despegable li  {
    list-style: none;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    width: 8em;
    text-align: center;
}
.lista_despegable li  {
    margin: auto;   
}

.menu ul li a, .lista_despegable li a {
    text-decoration: none;
    color: #FFFFFF;

}



/* menú despegable */
.menu_despegable {
    display: none;
}

/* enlace de página activa */
.menu ul .active a, .menu ul a:hover, .lista_despegable .active a, .lista_despegable li a:hover {
    color: #2CCBCB;
}


.boton_desplegar {
	display: block;
	width: 100%;
	padding: 1rem;
	/* align-items: center; */
}

.boton_desplegar img {
    width: 35px;
}

.lista_despegable {
	text-align: center;
	height: 100%;
}

/* botón de registro / usuario */
.lista_despegable div .boton_usuario {
    padding: 2%;
}

.lista_despegable div .boton_usuario a {
    height: max-content;
}

.lista_despegable a {
    display: block;
    width: 100%;
    height: 2em;
}


@media screen and (max-width: 999px) {
    .menu ul li {
        width: 7em;
    }
}

@media screen and (max-width: 749px) {
    #logo_header {
        display: none;
    }
	.menu {
		display: none;
	}
    .menu_usuario {
        display: none;
    }


	.menu_despegable {
		display: inline;
		width: 100%;
	}

	.fijo_menu {
		display: flex;
		align-items: center;
	}

	.boton_desplegar {
		text-align: right;
	}


	.lista_despegable {
		display: none;
        padding: 0%;
        margin-top: 0%;
	}
	.lista_despegable li {
        display: block;
	}
}
