body {
    text-align: justify;
    margin: 0%;
}

/* MIRA A VER ESTO DEL BODY, QUE ESTO ES HEADER */


header {
    position: fixed;
    width: 100%;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    display: flex;
    top: 0%;
    align-items: center;
    z-index: 3;
}

header #logo {
    width: 90px;
}

.menu {
    margin: auto;
}

.menu ul {
    display: flex;
    padding-left: 0%;
}

.menu ul li {
    list-style: none;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    width: 8em;
    text-align: center;
}

.menu ul li a {
    text-decoration: none;
    color: #FFFFFF;

}

.menu .active a, .menu a:hover {
    color: #2CCBCB;
}
