.imagenes{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1%;
    justify-content: center;
}

.imagen {
    position: relative;
    color: white;
    padding: 0.1% 1% 1% 1%;
}

.imagen::after {
    content: "";
    background-color: black;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

.imagen h4 {
    color: #2CCBCB;
}

.imagen hr {
    border: 2px solid white;
}
