.buscador_imagenes form {
    width: 50%;
    margin: auto;
    border: 3px solid black;
    border-radius: 400px;
    padding: 1%;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.buscador_imagenes form input, .buscador_imagenes form select {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

.buscador_imagenes #pais  {
    width: 95px;
}

.buscador_imagenes #boton {
    background-color: #2CCBCB;
    border-color: #2CCBCB;
    font-weight: bold;
    color: black;
}

.buscador_imagenes #boton:hover {
    padding: 0.5%;
    font-size: medium;
    text-decoration: underline;
}


.imagenes{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1.5%;
    justify-content: center;
}

.imagen {
    position: relative;
    color: white;
    padding: 0.1% 2% 2% 2%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5%;
}


.imagen h4 {
    color: #2CCBCB;
}


.imagen .datos_imagen {
    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    justify-content: space-evenly;
}

.imagen .datos_imagen img {
    width: 30px;
}

.imagen .datos_imagen section {
    display: flex;
    align-items: center;
    gap: 10%;
    margin-bottom: 2%;
}
