.buscador_imagenes form {
    width: 50%;
    margin: auto;
    border: 3px solid black;
    border-radius: 400px;
    padding: 1%;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 3%;
}

.buscador_imagenes form input, .buscador_imagenes form select {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

.buscador_imagenes #pais  {
    width: 95px;
}

.buscador_imagenes #boton {
    background-color: #2CCBCB;
    border-color: #2CCBCB;
    font-weight: bold;
    color: black;
}

.buscador_imagenes #boton:hover {
    padding: 0.5%;
    font-size: medium;
    text-decoration: underline;
}


.imagenes{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 1.5%;
    justify-content: center;
}

.imagen {
    position: relative;
    color: white;
    padding: 0.1% 2% 2% 2%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1.5%;
}

.imagen h4 {
    color: #2CCBCB;
}

.imagen .imagen_resize, .imagen_viaje .imagen_resize {
    width: 380px;
    height: 260px;
}

.imagen .datos_imagen {
    display: flex;
    flex-wrap: wrap;
    gap: 15%;
    justify-content: space-evenly;
}

.imagen .datos_imagen img {
    width: 30px;
}

.imagen .datos_imagen section {
    display: flex;
    align-items: center;
    gap: 10%;
    margin-bottom: 2%;
}

@media screen and (min-width: 5100px) {
    .buscador_imagenes #pais  {
        width: 280px;
    }
    
    .imagen_resize {
        width: 1200px !important;
        height: 800px !important;
    }
    .imagen .datos_imagen img {
        width: 80px;
    }
}

    
@media screen and (min-width: 3000px) and (max-width: 5099px) {
    .buscador_imagenes #pais  {
        width: 150px;
    }
    
    .imagen_resize {
        width: 680px !important;
        height: 470px !important;
    }
    .imagen .datos_imagen img {
        width: 50px;
    }
}

    
@media screen and (min-width: 1900px) and (max-width: 2999px) {
    .buscador_imagenes #pais  {
        width: 115px;
    }

    .imagen_resize {
        width: 470px !important;
        height: 290px !important;
    }
    .imagen .datos_imagen img {
        width: 45px;
    }
}

@media screen and (max-width: 1200px) {
    .buscador_imagenes form {
        width: 90%;
        padding: 5%;
    }
}

@media screen and (max-width: 600px) {
    .buscador_imagenes form {
        border-radius: 50px;
    }
}


@media screen and (max-width: 450px) {
    .imagen_resize {
        width: 300px !important;
        height: 180px !important;
    }
}

@media screen and (max-width: 350px) {
    .imagen_resize {
        width: 280px !important;
        height: 130px !important;
    }
}
