/*Botón*/
.boton_usuario {
  background-color: #2CCBCB;
  border: none;
  font-weight: bold;
  padding: 15px;
  border-radius: 10px 10px 10px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/*Botón hover y focus*/
.boton_usuario:hover {
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.8);
}

/*Posición del contenedor*/
.menu_usuario{
  position: relative;
  display: inline-block;
  margin-right: 1%;
 }

/*submenu*/
.contenido_lista{
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
  text-align: center;
  margin: auto;
  left: 10%;
  right: 10%;
}

.contenido_lista a{
  border-radius: 7px 7px 7px 7px;
  color: black;
  padding: 12px 16px;
  display: block;
  background-color: rgba(44, 203, 203, 0.8);
  border: 1px solid black;
  text-decoration: none;
}

.contenido_lista a:hover{
  text-decoration: underline;
  background-color: rgba(255, 255, 255, 0.8);
}

.show {
  display: block;
}
