.mis_viajes, .mis_imagenes, .mis_comentarios {
    margin-bottom: 4%;
}

.mis_viajes .titulo_mi, .mis_imagenes .titulo_mi, .mis_comentarios .titulo_mi {
    text-align: center;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.mis_viajes .titulo_mi h1, .mis_imagenes .titulo_mi h1, .mis_comentarios .titulo_mi h1 {
    text-transform: uppercase;
    color: #2CCBCB;
}

.mis_viajes .titulo_mi .vacio, .mis_imagenes .titulo_mi .vacio, .mis_comentarios .titulo_mi .vacio {
    margin-top: 2%;
    font-size: medium;
}

.mis_viajes .display {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
}

.mis_viajes .display .mi_viaje {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2%;
    margin: 0% 2% 2% 2%;
    max-width: 40%;
}

.mis_viajes .display .mi_viaje h1 {
    color: #2CCBCB;
    text-transform: uppercase;
    text-align: center;
}

.mis_viajes .display .mi_viaje .seccion_viaje {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4%;
}

.mis_viajes .display .mi_viaje img {
    margin: auto;
    width: 250px;
    height: 150px;
}

.mis_viajes .display .mi_viaje .forms {
    text-align: center;
    margin: auto;
}

.mis_viajes .display .mi_viaje .forms input {
    font-weight: bold;
    background-color: #2CCBCB;
    border-color: #2CCBCB;
}

.mis_viajes .display .mi_viaje .forms input:hover {
    font-size: 14px;
}

.mis_viajes .display .mi_viaje .contenido {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;    
    justify-content: center;
    align-content: center;
    margin-bottom: 2%;
}
.mis_viajes .display .mi_viaje .contenido span:first-child {
    margin-bottom: 3%;
} 

.mis_viajes .mi_viaje .info_publicar {
    text-align: center;
    color: rgb(222, 222, 105);
    margin-top: 5%;
}



.mis_imagenes .imagen {
    padding-top: 2%;
}


.aceptacion {
    color: rgb(222, 222, 105);
    font-weight: normal;
}


.mis_comentarios .destino {
    text-transform: uppercase;
}

.mis_comentarios .comentario form input {
    font-weight: bold;
    background-color: rgb(228, 95, 95);
    border-color: rgb(228, 95, 95);
}

.mis_comentarios .comentario form input:hover {
    text-decoration: underline;
    font-size: 15px;
}



@media screen and (min-width: 5100px) {
    .mis_viajes .display .mi_viaje img {
    width: 870px;
    height: 520px;
    }
}

    
@media screen and (min-width: 3000px) and (max-width: 5099px) {
    .mis_viajes .display .mi_viaje img {
    width: 550px;
    height: 380px;
    }
}

    
@media screen and (min-width: 1900px) and (max-width: 2999px) {
    .mis_viajes .display .mi_viaje img {
    width: 340px;
    height: 200px;
    }
}