.mis_viajes .display, .mis_imagenes .display {
    display: flex;
    flex-wrap: wrap;   
    justify-content: center;
}

.mis_viajes .display .mi_viaje, .mis_imagenes .display .mi_imagen {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2%;
    margin: 0% 2% 2% 2%;
    max-width: 40%;
}

.mis_viajes .display .mi_viaje h1, .mis_imagenes .display .mi_imagen h1 {
    color: #2CCBCB;
    text-transform: uppercase;
    text-align: center;
}

.mis_viajes .display .mi_viaje .seccion_viaje , .mis_imagenes .display .seccion_viaje{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4%;
}

.mis_viajes .display .mi_viaje img, .mis_imagenes .display .mi_imagen img {
    margin: auto;
}

.mis_viajes .display .mi_viaje .forms {
    text-align: center;
    margin: auto;
}

.mis_viajes .display .mi_viaje .forms input {
    font-weight: bold;
    background-color: #2CCBCB;
    border-color: #2CCBCB;
}

.mis_viajes .display .mi_viaje .contenido {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;    
    justify-content: center;
    align-content: center;
    margin-bottom: 2%;
}
.mis_viajes .display .mi_viaje .contenido span:first-child {
    margin-bottom: 3%;
} 
