.portada {
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    height: max-content;
}

.portada section {
    padding: 8%;
}

.portada img {
    width: 100%;
    height: 70vh;
    position: absolute;
    z-index: -1;
    top: 0%;
}

.portada h1 {
    text-transform: uppercase;
    color: #2CCBCB;
    font-size: 60px;
    background-color: black;
    padding: 1%;
    width: max-content;
    margin: auto; 
    opacity: 0.8;
    margin-bottom: 1.5%;
}

.portada h3 {
    color: white;
    font-size: 22px;
    background-color: black;
    padding: 0.5%;
    width: max-content;
    margin: auto; 
    opacity: 0.8;
    margin-bottom: 4%;
}

.portada input, .portada span {
    background-color: #2CCBCB;
    border-color: #2CCBCB;
    font-weight: bold;
    padding: 0.5%;
    margin-top: 2%;
    text-decoration: none;
    color: black;
}

.portada input:hover, .portada span:hover {
    padding: 1%;
    font-size: medium;
    text-decoration: underline;
}