.tipos_registro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    margin-top: 3%;
}

fieldset {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 40px;
    padding: 0.3% 3% 3% 3%;
    color: white;
    margin-bottom: 2%;
    height: max-content;
}

fieldset form {
    width: max-content;
    margin: auto;
}


fieldset h2 {
    color: #2CCBCB;
    text-align: center;
}

fieldset hr {
    border: 2px solid white;
}

fieldset .input_email {
    width: 300px;
}

fieldset .submit {
    text-align: center;
}

fieldset .submit input  {
    background-color: #2CCBCB;
    border-color: #2CCBCB;
    font-weight: bold;
}

fieldset .submit input:hover {
    padding: 1%;
    font-size: medium;
    text-decoration: underline;
}


@media screen and (min-width: 5100px) {
    fieldset {
        padding: 0.3% 3% 3% 3%;
    }

    fieldset .input_email {
        width: 950px;
    }
    
}

    
@media screen and (min-width: 3000px) and (max-width: 5099px) {
    fieldset {
        padding: 0.3% 3% 3% 3%;
    }
    
    fieldset .input_email {
        width: 700px;
    }
}

    
@media screen and (min-width: 1900px) and (max-width: 2999px) { 
    fieldset {
        padding: 0.3% 3% 3% 3%;
    }
       
    fieldset .input_email {
        width: 400px;
    }
}

@media screen and (max-width: 500px) { 
    fieldset .input_email {
        width: 200px;
    }  
}
