.buscador_viajes form {
    width: 75%;
    margin: auto;
    border: 3px solid black;
    border-radius: 400px;
    padding: 1%;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}

.buscador_viajes form input {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

.buscador_viajes form input, .buscador_viajes form select {
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}


.buscador_viajes #pais  {
    width: 95px;
}

.buscador_viajes #min , .buscador_viajes #max  {
    width: 55px;
}

.buscador_viajes #boton {
    background-color: #2CCBCB;
    border-color: #2CCBCB;
    font-weight: bold;
    color: black;
}

.buscador_viajes #boton:hover {
    padding: 0.5%;
    font-size: 14px;
    text-decoration: underline;
}



.viajes{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 2%;
    justify-content: center;
}

.viaje {
    position: relative;
    color: white;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2%;
}

.viaje .img_viaje {
    width: 320px;
    height: 200px;
}

.viaje .precio {
    text-align: right;
    margin: 0%;
}

.viaje .pais {
    color: #2CCBCB;
    text-transform: uppercase;
    margin-top: 0%;
}

.viaje .ver_mas {
    background-color: #2CCBCB;
    border-color: #2CCBCB;
    font-weight: bold;
}

.viaje .ver_mas:hover {
    padding: 1%;
    font-size: 14px;
    text-decoration: underline;
}


#otros_viajes {
    margin-top: 4%;
    text-align: center;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8);
}

#otros_viajes h2 {
    text-transform: uppercase;
    color: #2CCBCB;
}



@media screen and (min-width: 5100px) {
    .buscador_viajes form {
        border: 8px solid black;
    }

    .buscador_viajes #pais  {
        width: 280px;
    }
    
    .buscador_viajes #min , .buscador_viajes #max  {
        width: 180px;
    }

    .viaje .img_viaje {
        width: 1100px;
        height: 700px;
    }
}

@media screen and (min-width: 3000px) and (max-width: 5099px) {
    .buscador_viajes form {
        border: 6px solid black;
    }

    .buscador_viajes #pais  {
        width: 150px;
    }
    
    .buscador_viajes #min , .buscador_viajes #max  {
        width: 100px;
    }

    .viaje .img_viaje {
        width: 680px;
        height: 450px;
    }
}

@media screen and (min-width: 1900px) and (max-width: 2999px) {
    .buscador_viajes form {
        border: 4px solid black;
    }

    .buscador_viajes #pais  {
        width: 115px;
    }
    
    .buscador_viajes #min , .buscador_viajes #max  {
        width: 80px;
    }
    
    .viaje .img_viaje {
        width: 420px;
        height: 265px;
    }
}

@media screen and (max-width: 1200px) {
    .buscador_viajes form {
        padding: 5%;
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .buscador_viajes form {
        border-radius: 50px;
    }
}

@media screen and (max-width: 450px) {
    .viaje .img_viaje {
        width: 300px !important;
        height: 180px !important;
    }
}

@media screen and (max-width: 350px) {
    .viaje .img_viaje {
        width: 280px !important;
        height: 130px !important;
    }
}
