
.detalle_viaje {
    color: white;
}

.detalle_viaje h1, h2 {
    color: #2CCBCB;
    text-transform: uppercase;
    text-align: center;
}

.detalle_viaje h1 {
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8); 
}

.general, .itinerario, .gastos {
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 4%;
}

.general table, .gastos table {
    margin: auto;
}

.general table .izquierda {
    padding: 1em 10em 1em 0.7em;
}

.general table th {
    padding-left: 0.7em;
}



.itinerario li {
    color: #2CCBCB;
    text-transform: uppercase;
}



.gastos table .izquierda {
    padding: 1em 10em 1em 0.5em;

}
.gastos table th {
    padding-left: 0.5em;
    
}



.galeria {
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 1%;
}

.detalle_viaje .usuario {
    color: #2CCBCB;
}
