.detalle_viaje {
    color: white;
}

.detalle_viaje h1, h2 {
    color: #2CCBCB;
    text-transform: uppercase;
    text-align: center;
}

.detalle_viaje h1 {
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8); 
}


.titulo form {
    text-align: center;
}




.general, .descripcion, .gastos {
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 4%;
}


.general .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

.general .info section {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
}



.descripcion {
    text-align: justify;
}

.descripcion span b {
    color: #2CCBCB;
}



.gastos .incluidos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

.gastos .incluidos section {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
    margin-top: 2%;
}



.galeria, .opiniones {
    padding: 2%;
    margin-bottom: 1%;
    background-color: rgba(0, 0, 0, 0.8);
}

.detalle_viaje .usuario {
    color: #2CCBCB;
}

.detalle_viaje .imagenes {
    margin-bottom: 4%;
}

.imagenes .imagen_viaje {
    position: relative;
    color: white;
    padding: 2% 2% 2% 2%;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 2%;
}



#opinion {
    width: 98%;
}
