.buscador_viajes form {
    width: 75%;
    margin: auto;
    border: 1px solid black;
    border-radius: 400px;
    padding: 1%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 2%;
}


.buscador_viajes #pais  {
    width: 95px;
}

.buscador_viajes #min , .buscador_viajes #max  {
    width: 55px;
}

.buscador_viajes #fisico , .buscador_viajes #foto {
    width: 75px;
}

.buscador_viajes #boton {
    background-color: #2CCBCB;
    border-color: #2CCBCB;
    font-weight: bold;
}

.buscador_viajes #boton:hover {
    padding: 0.5%;
    font-size: medium;
    text-decoration: underline;
}



.viajes{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 2%;
    justify-content: center;
}

.viaje {
    position: relative;
    color: white;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.8);
}

.viaje .precio {
    text-align: right;
    margin: 0%;
}

.viaje .pais {
    color: #2CCBCB;
    text-transform: uppercase;
    margin-top: 0%;
}

.viaje .ver_mas {
    background-color: #2CCBCB;
    border-color: #2CCBCB;
    font-weight: bold;
}

.viaje .ver_mas:hover {
    padding: 1%;
    font-size: medium;
    text-decoration: underline;
}

